---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="¿Quiénes somos?">
    <section>
    <h1>Contacto</h1>
    <p>Si deseas más información o ponerte en contacto con nosotros:</p>
    <ul>
      <li><strong>Correo:</strong> contacto@fundacionninojesusdepraga.com</li>
      <li><strong>Teléfono:</strong> +57 3135246528</li>
      <li><strong>Dirección:</strong> Cra 26 N° 12-40 B/ San Pedro</li>
    </ul>
    </section>
</BaseLayout>