---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Portafolio de Servicios - Fundación Niño Jesús de Praga">
  <section>
    <h1>Portafolio de Servicios</h1>
    <ul>
      <li>Elaboración, diseño, administración, estudios técnicos o levantamiento de proyectos.</li>
      <li>Elaboración de estudios de preinversión e inversión.</li>
      <li>Elaboración de planes y proyectos socioeconómicos, ambientales, de infraestructura urbana y rural.</li>
      <li>Elaboración y asesorías de monografías, tesis de grado e investigación.</li>
      <li>Asesoría, elaboración y consultoría de planes de desarrollo y ordenamiento territorial.</li>
      <li>Compra y distribución de toda clase de útiles y elementos y partes utilizados o utilizables en el desarrollo del proceso educativo.</li>
      <li>Representar casas nacionales o extranjeras cuyo objeto social sea igual, similar o complementario con el nuestro.</li>
      <li>Celebración de convenios de patrocinio para educar y capacitar.</li>
      <li>Firmar convenios para prestar el servicio público de educación formal, preescolar, básica primaria, secundaria y media vocacional y atención integral de la primera infancia (Niños menores de 5 años).</li>
      <li>Asistencia técnica en la ejecución de planes de mejoramiento y proyectos educativos para el fomento de la calidad educativa que contribuyan a la organización institucional y el desarrollo de los diferentes procesos curriculares.</li>
      <li>Canalizar recursos financieros de entidades municipales, departamentales, nacionales, públicos o privadas para aplicarlos al desarrollo y actividades o programas que guardan relación con su objetivo general y para beneficio de la comunidad.</li>
    </ul>
  </section>
</BaseLayout>